<html>

<head>
	<title>B's page</title>
</head>

<body style="background-color: #eeeeee;">

	<div><a href="/vlc/open">Open VLC</a></div>
	<div><a href="/vlc/volume_up">Volume Up</a></div>
	<div><a href="/vlc/volume_down">Volume Down</a></div>

</body>
</html>