<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	<title>Main page</title>
</head>

<body>

	<!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      	<div class="container">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
    	      	</button>
          		<a class="navbar-brand" href="/">PC Minion</a>
        	</div>
        	<div class="navbar-collapse collapse">
          		<ul class="nav navbar-nav navbar-right">
            		<li><a href="#settings"><i class="fa fa-gear"> Settings</i></a></li>
            		<li><a href="#about"><i class="fa fa-question-circle"> About</i></a></li>
          		</ul>
	        </div><!--/.nav-collapse -->
    	</div>
    </div>

    <div id="plugins_div">
    </div> <!-- /container -->


	<!-- 
		Load these last, the page to be rendered will feel like its
		loading faster.
	-->
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		var loaded_plugins = <%- JSON.stringify(plugins) %>;

		// On document ready..
		$(function() {
			html = '';
			// TODO: This really should be done w/ backbone...
			for(var idx = 0; idx < loaded_plugins.length; idx++) {
				var plugin_name 		= loaded_plugins[idx]['name'];
				var plugin_description 	= loaded_plugins[idx]['description'];
				console.log('Plugin ' + plugin_name);
				html += 
				'<div class="_pcm_plugin_div" data-plugin_name="'+plugin_name+'">\n' + 
				'	<div class="row">\n' +
				'		<div class="col-xs-2 ">\n' +
				'			<img class="_pcm_plugin_icon" src="/_dynamic/' + plugin_name + '.png"></img>\n' +
				'		</div>\n' +
				'		<div class="col-xs-8 _pcm_plugin_name">' + plugin_name + '</div>\n' +
				'		<div class="col-xs-2 _pcm_more_info"><i class="fa fa-2x fa-plus"></i></div>\n' +
				'	</div>\n' +
				'	<div class="row _pcm_plugin_description_div">\n' +
				'		<div class="col-xs-12">' +plugin_description+'</div>\n' +
				'	</div>\n' +
				'</div>\n';
			}
			$('#plugins_div').html(html);
		});

		$('#plugins_div').on('click', '._pcm_plugin_div', function(event) {
			console.log($(this).data('plugin_name'));
			window.location = '/' + $(this).data('plugin_name');
		});

		$('#plugins_div').on('click', '._pcm_more_info', function(event) {
			event.stopPropagation();
			// Toggle logic
			if($(this).hasClass('_pcm_visible')) {
				// Hide description and turn the - into a +
				$(this).closest('div[class^="_pcm_plugin_div"]')
					.animate({ height: "64px" });
				$(this)
					.find('.fa-minus')
					.removeClass('fa-minus')
					.addClass('fa-plus');
				$(this).removeClass('_pcm_visible');
			}
			else {
				console.log($(this).find('.fa-plus'));
				var new_height = 
					$(this)
						.closest('div[class^="_pcm_plugin_div"]')
						.find('._pcm_plugin_description_div')
						.outerHeight() + 64;

				// Show full div - and turn the + into a -
				$(this).closest('div[class^="_pcm_plugin_div"]')
					.animate({ height: new_height });
				$(this)
					.find('.fa-plus')
					.removeClass('fa-plus')
					.addClass('fa-minus');
				$(this).addClass('_pcm_visible');
			}
		});
	</script>

</body>
</html>
