<html>

<head>
	<title>Test Plugin</title>
</head>

<body style="background-color: #eeeeee;">

	<div><a href="/Test/1">TEST 1</a></div>
	<br>
	<div><a href="/Test/2">TEST 2</a></div>
	<br>
	<div><a href="/Test/3">TEST 3</a></div>

</body>
</html>