<html>

<head>
	<title>Desktop Manager Page</title>
</head>

<body style="background-color: #eeeeee;">

	<div><a href="/DesktopManagement/shutdown">Shutdown</a></div>
	<br>
	<div><a href="/DesktopManagement/restart">Restart</a></div>
	<br>
	<div><a href="/DesktopManagement/beep">BEEP!!</a></div>

</body>
</html>